---
const sourceCodeLink = "https://github.com/davidochoadev/interactive-rating-component";
const website = "https://davidochoa.fly.dev";
const username = "davidochoa.dev";
---

<footer class="w-full text-center fixed bottom-0 text-orange bg-opacity-5 bg-white">
   <a href={website} target="_blank" class="author__anchor">{username}</a>
   <span class="author__spacer">|</span>
   <a href={sourceCodeLink} class="author__anchor">Source Code</a>
</footer>